.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  padding: 20px 50px;
}

.projects-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  align-items: center;
}

.projects .container h1 {
  text-align: center;
  padding: 12px 0;
}

.project {
  background-color: #f1f1f1;
  border-radius: 30px;
  padding: 5px;
  width: 300px;
  height: auto;
}

.project h4 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.project h3 {
  font-weight: 400;
}

.project .project-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.project p {
  color: black;
  margin: 0.7rem 0;
}

.project .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project img {
  width: 280px;
  height: 220px;
  border-radius: 30px;
}

.project button {
  width: 100%;
  padding: 5px;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  * {
    overflow-x: hidden;
  }

  .project {
    width: auto;
    min-height: auto;
    width: 230px;
  }

  .project img {
    width: 230px;
  }

  .project h4 {
    font-size: 1rem;
  }

  .project .project-info {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
