@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;700;800;900;1000&family=El+Messiri:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}

button.primary-btn {
  background-color: #14c3ee;
  color: white;
  padding: 10px 20px;
  border-radius: 15px;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  overflow-y: hidden;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
