.project-page {
  min-height: 100vh;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-page img {
  width: 50%;
  max-height: 80vh;
}

.project-page .container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
}

.project-page .info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

@media only screen and (max-width: 950px) {
  .project-page .container {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}
